<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.zhuliang.photopicker.sample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="io.zhuliang.photopicker.sample.SampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="io.zhuliang.photopicker.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.zhuliang.photopicker.PhotoPickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
        </activity>
        <activity android:name="io.zhuliang.photopicker.PhotoViewActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="io.zhuliang.photopicker.sample.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--下面的代码可以将此应用设置为默认图库，MIUI验证通过-->
        <!--<activity android:name=".GalleryActivity">
            <intent-filter>
                <action
                    android:name='android.intent.action.MAIN'>
                </action>
                <category
                    android:name='android.intent.category.DEFAULT'>
                </category>
                <category
                    android:name='android.intent.category.LAUNCHER'>
                </category>
                <category
                    android:name='android.intent.category.APP_GALLERY'>
                </category>
            </intent-filter>
        </activity>-->
    </application>

</manifest>